h1 {
    text-align: center;
}

.tbl {
    margin-left: auto;
    margin-right: auto;
}

.box5 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
}

.box1 {
    border-bottom: 1px;
    border-right: 1px;
    border-color: black;
    width: 100px;
    height: 100px;
}

.box3 {
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
}

.box7 {
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
}

.box9 {
    border-top: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
}

.box2 {
    width: 100px;
    height: 100px;
}

.box4 {
    width: 100px;
    height: 100px;
}

.box6 {
    width: 100px;
    height: 100px;
}