h1 {
    text-align: center;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.box5 {
    width: 100px;
    height: 100px;
}

.box1 {
    border-left: 0px;
    border-top: 0px;
    width: 100px;
    height: 100px;
}

.box3 {
    border-right: 0px;
    border-top: 0px;
    width: 100px;
    height: 100px;
}

.box7 {
    border-left: 0px;
    border-bottom: 0px;
    width: 100px;
    height: 100px;
}

.box9 {
    border-right: 0px;
    border-bottom: 0px;
    width: 100px;
    height: 100px;
}

.box2 {
    width: 100px;
    height: 100px;
}

.box4 {
    width: 100px;
    height: 100px;
}

.box6 {
    width: 100px;
    height: 100px;
}