h1 {
    color: #3098dd;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Zen Dots', cursive;

}

h1 {
    color: #354b63;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Zen Dots', cursive;
}

body {
    border: solid 10px;
    border-color: #bdc7cf;
}