h1 {
    color: #3098dd;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font: weight 200px;
}

h2 {
    color: #354b63;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

div {
    border-style: solid;
    border-left: 2px;
}

hr {
    width: auto;
    color: gray;
}

body {
    border: solid 10px;
    border-color: #bdc7cf;
    width: 200px;
}