h1 {
    color: #3098dd;
    text-transform: uppercase;
    letter-spacing: .2rem;

    font-family: 'Source Sans Pro', sans-serif;

    font-size: 15px;
    font-weight: 200;

}

h2 {
    color: #354b63;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.Intro {
    border-style: solid;
    border-width: 4px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 5px;
    border-color: #e026a5;
}

hr {
    width: auto;
    color: gray;
}

body {
    margin: auto;
    border: solid;
    border-width: 15px;
    border-color: #bdc7cf;
    padding: 10px;
    width: 700px;

}